.button {
    display: block;

    height: 350px;
    width: 100px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: transform 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}